<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender to log to Kafka -->
    <appender name="Kafka" class="io.bluetape4k.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger: %msg\n%throwable</pattern>
        </encoder>

        <bootstrapServers>localhost:9093</bootstrapServers>
        <topic>logs</topic>
        <keyProvider class="io.bluetape4k.logback.kafka.keyprovider.NullKeyProvider"/>
        <logExporter class="io.bluetape4k.logback.kafka.exporter.DefaultLogExporter"/>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <!-- @formatter:off -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%blue(%.24t)] %yellow(%logger{36}):%line: %msg%n%throwable</pattern>
            <!-- @formatter:on -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="LogbackIntegrationTest" level="INFO" additivity="false">
        <appender-ref ref="Kafka"/>
    </logger>

    <logger name="io.bluetape4k" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>

</configuration>
